<%- include('../partials/head'); %>
<body class="hold-transition layout-top-nav layout-navbar-fixed">
    <div class="wrapper">
        <%- include('./navbar') %>
        <%- include('../pages/' + template.page) %>
        <%- include('./footer') %>
    </div>
</body>