<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> Dashboard</small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Home</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <a href="/project" style="color: black;">
                        <div class="info-box">
                            <span class="info-box-icon bg-info"><i class="fas fa-cubes"></i></span>
                    
                            <div class="info-box-content">
                                <span class="info-box-text">Total Projek</span>
                                <span class="info-box-number"><%= data.totProjects %> </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <a href="/user" style="color: black;">
                        <div class="info-box">
                            <span class="info-box-icon bg-info"><i class="far fa-user"></i></span>
                    
                            <div class="info-box-content">
                                <span class="info-box-text">Total Pengguna Aktif</span>
                                <span class="info-box-number"><%= data.actUsers %></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <a href="/user" style="color: black;">
                        <div class="info-box">
                            <span class="info-box-icon bg-info"><i class="fas fa-user-times"></i></span>
                    
                            <div class="info-box-content">
                                <span class="info-box-text">Total Pengguna Non Aktif</span>
                                <span class="info-box-number"><%= data.inactUsers %></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>